<body>
<h1>WELCOME</h1>
<p>Need to send a text? You've come to the right place!</p>

<%= form_tag("/sms/send", method: "post") do %>
<!-- add form elements here -->
<form>
    <span class="formhead">Enter your message: </span><br>
    <input type="text" name="message"><br>
    <span class="formhead">Phone Number: </span><br>
    <input type="tel" name="usrtel"><br>
    <input type="submit" value="SEND">
</form>
<% end %>
